APP_NAME="Comprasnet Contratos"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://sc.instituicao.gov.br
APP_PATH=/var/www/app/
APP_PATH_CERT=storage/app/sfcertificado/
APP_VERSION=5.0
APP_RELEASE=000

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=conta-postgres
DB_PORT=5432
DB_DATABASE=conta
DB_USERNAME=conta
DB_PASSWORD=conta

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.instituicao.gov.br
MAIL_PORT=587
MAIL_FROM_ADDRESS=conta@instituicao.gov.br
MAIL_FROM_NAME="Comprasnet Contratos"
MAIL_USERNAME=conta@instituicao.gov.br
MAIL_PASSWORD=senha_email
MAIL_ENCRYPTION=tls

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

BACKPACK_REGISTRATION_OPEN=false

MIGRACAO_CONTRATOS=https://conta.agu.gov.br/migracao_contratos/xxxx
MIGRACAO_EMPENHOS=https://conta.agu.gov.br/migracao_empenhos/xxxx
API_STA_HOST=http://sta.agu.gov.br
API_SIASG_URL=
API_SIASG_TOKEN=
FORMATO_PROCESSO_PADRAO_SISG=99999.999999/9999-99

GUARDIANKEY=false
GUARDIANKEY_ORGID=
GUARDIANKEY_AUTHGROUPID=
GUARDIANKEY_KEY=
GUARDIANKEY_IV=

AMBIENTE_WS_SIAFI=PROD
